# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [4]:
chipo = pd.read_csv(url,sep = "\t")

### Step 4. How many products cost more than $10.00?

In [6]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: x.replace("$","")).astype(float)

In [10]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [19]:
more_than_10 = chipo[chipo.item_price > 10.00].shape[0]

In [20]:
more_than_10

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
num_products_over_10 = chipo[chipo['item_price'] > 10.00].shape[0]

### Step 6. Sort by the name of the item

In [23]:
chipo.loc[chipo.item_price > 10.00, "item_price"]

4       16.98
5       10.98
7       11.75
13      11.25
23      10.98
        ...
4610    11.75
4611    11.25
4617    11.75
4618    11.75
4619    11.25
Name: item_price, Length: 1130, dtype: float64

### Step 7. What was the quantity of the most expensive item ordered?

In [34]:
sorted_price = chipo.sort_values("item_price",ascending=False).head(1)

In [35]:
sorted_price

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [46]:
ordered_salad = ordered_salad.loc["Veggie Salad Bowl", "quantity"]

In [47]:
ordered_salad

18

In [48]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 9. How many times did someone order more than one Canned Soda?

In [60]:
one_more = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

In [61]:
one_more

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18