# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [216]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [217]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [218]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [219]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [220]:
# Solution 1
chipo.shape[0]

4622

In [221]:
# Solution 2
print(len(chipo))

4622

### Step 6. What is the number of columns in the dataset?

In [222]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [223]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [224]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [225]:
chipo.groupby(by="item_name", dropna=False, sort=True).agg({"quantity": "sum"}).sort_values(by="quantity" , ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [226]:
chipo.groupby(by="item_name", dropna=False, sort=True).agg({"quantity": "sum"}).sort_values(by="quantity" , ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [227]:
chipo.groupby(by="choice_description", dropna=True, sort=True).agg({"quantity": "sum"}).sort_values(by="quantity" , ascending=False).head(1)

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [228]:
result = chipo.groupby(by="item_name", dropna=True, sort=True).agg({"quantity": "sum"}).sort_values(by="quantity", ascending=False)

In [229]:
result["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [230]:
chipo["item_price"].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [231]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: x.replace("$","")).astype(float)

In [232]:
chipo["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [233]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [234]:
revenue = (chipo["quantity"] * chipo["item_price"]).sum()

In [235]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [236]:
revenue

39237.02

### Step 15. How many orders were made in the period?

In [237]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [245]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [248]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [249]:
order_grouped = chipo.groupby(by=['order_id']).mean()

TypeError: agg function failed [how->mean,dtype->object]

### Step 17. How many different items are sold?

In [239]:
chipo["item_name"].nunique()

50